*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../images/galaxy.gif');
}

.title{
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 3px #7752FE;
  margin-top: 3.125rem;
}

.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.kg-input-div input{
  height: 2.3rem;
  width: 19.750rem;
}

.planet-input-div select{
  width: 9.375rem;
  height: 2.3rem;
}
.planet-input-div select option{
  text-transform: uppercase;
}

.btn-div #button{
  padding: .8rem;
  border-radius: .5rem;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #515151;
}

.result-container{
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 1000px;
  margin: 3rem auto 0;
  background-color: #bbbbbb42;
  color: white;
}

.message-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box{
  background-color: #72727268;
  padding: 1.5rem 2rem;
  font-size: 2rem;
}

.result-kg{
  text-align: center;
  background-color: #86808057;
}
.result-message{
  text-align: center;
}

.none{
  display: none;
}